{% comment %} The cross sign is left side after putting this code {% endcomment %}

{% comment %} {% if messages %}
    {% for message in messages %}
   <div class="message container">

    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
        <button class="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
        {{ message }}

    </div>
    {% endfor %}
{% endif %}
 {% endcomment %}
{% comment %} ........................................................... {% endcomment %}



{% if messages %}
    {% for message in messages %}
    <div id="message" class="container mt-2">
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <strong>Error:</strong>
            {% endif %}
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}
{% endif %}
